<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<p th:text="'Hello, ' + ${name} + '!'"/>
<form action="/mockauth" method="post" target="hiddenFrame">
    <button type="submit">accept session</button>
</form>
<form action="/auth/accept" method="get" target="hiddenFrame">
    <button type="submit">accept login</button>
</form>
<iframe name="hiddenFrame" width="0" height="0" border="0" style="display: none;"></iframe>
</body>
</html>